@import 'tailwindcss';
/* editor */
@import "react-quill/dist/quill.snow.css";
/* simplebar */
@import "simplebar-react/dist/simplebar.min.css";

::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画 */
  -webkit-animation: none;
  animation: none;
}
@theme {
  --color-accent: #f4f4f5;
  --color-forground: #323639cc;
  --color-accent-forground: #323639;
  --color-primary: var(--ant-color-primary, #4f46e5);
}